<div class="container">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Approximate Count</th>
      <th>Operation Status</th>
      <th>Delivery Status</th>
      <th>Workflows</th>
      <th></th>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result[:name] %></td>
          <td><%= number_with_delimiter result[:approximate_count] %></td>
          <td><%= result[:operation_status] %></td>
          <td><%= result[:delivery_status] %></td>
          <td><%= result[:workflow_ids].join(", ") %></td>
          <td>
            <%= link_to "Edit", "#", class: "btn btn-primary",
              "data-id": "#{result[:id]}",
              "data-workflow-ids": "#{result[:workflow_ids]}",
              "data-toggle": "modal",
              "data-target": "#upload-modal"
            %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan=7>
          <%= link_to "New Custom Audience", "#", class: "btn btn-success",
            "data-toggle": "modal",
            "data-ad-act-id": "#{@results.first[:ad_act_id]}",
            "data-target": "#create-modal"
          %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%= render "upload_modal" %>

<%= render "create_modal" %>