<!DOCTYPE html>
<html>
  <head>
    <title>FbCustomAudience</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="user_nav">
      <% if current_user %>
        Welcome, <%= current_user %>!
        <%= link_to "logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in with Facebook", facebook_login_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
